
html {
  scroll-behavior: smooth;
}

.logo1 {
  background-color: #4483CE;
  text-align: right;
  padding-left: 20vh;
  transition-delay: 20ms;
  transition-duration: 300ms;
}
html {
  scroll-behavior: smooth;
}
.img1:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
.logo1 a:link {
  background: #4483CE;
  color: #fff;
  font-family: "Vidaloka", serif;
  text-decoration: none;
  transition-delay: 20ms;
  transition-duration: 300ms;
  padding: 8px;
  float: left;
  margin-top: 5vh;
}

.img1 {
  padding-left: 50px;
  height: 20vh;
  margin-right: 100px;
  animation: blockmove 6s infinite alternate-reverse;
}
.curso {
  padding-left: 25vh;
  margin-right: 20vh;
  padding-right: 30px;
  font-family: "Vidaloka", serif;
  text-align: justify;
  transition-delay: 20ms;
  transition-duration: 300ms;

}

.grade {
  padding-left: 25vh;
  margin-right: 20vh;
  padding-right: 30px;
  font-family: "Vidaloka", serif;
  text-align: justify;
  transition-delay: 20ms;
  transition-duration: 300ms;
}

.ctt {
  padding-left: 25vh;
  padding-right: 5vh;
  font-family: "Vidaloka", serif;
  padding-bottom: 5vh;
  padding-top: 2vh;
  background-color:#4483CE;
  border-style: none;
  transition-delay: 20ms;
  transition-duration: 300ms;
  color: #292929;
}

.ctt button {
  background-color: #dfd3d2;
  padding: 1vh;
  border-style: none;
  margin-left: 4vh;
  transition-delay: 20ms;
  transition-duration: 300ms;
}

.ctt button:hover {
  background-color: #300201;
  color: blanchedalmond;
}
.ctt1 {
  padding-left: 25vh;
  padding-right: 30px;
  font-family: "Vidaloka", serif;
  background-color: #4483CE;
  padding: 20px;
  text-align: center;
  color: whitesmoke;
  transition-delay: 20ms;
  transition-duration: 300ms;
}

a:link {
  color: white;
}

/* link que foi visitado */
a:visited {
  color: white;
}

/* mouse over */
a:hover {
  color: #404040;
}

/* link selecionado */
a:active {
  color: #404040;
}

.back1 {
  color: black;
  text-align: center;
}

.bg1 {
  color: black;
  text-align: center;

  padding: 1vh;
  font-family: "Gotham";
  font-weight: 600;
  font-size: 12px;
  color: #404040;
  background-color: #f0f0f0;
  text-align: center;
  text-transform: uppercase;
  transition-delay: 20ms;
  transition-duration: 300ms;
}
.cod1:before,
.cod1:after {
  content: "";
  display: block;
  align-items: left;
  width: 60px;
  height: 4px;
  background:#4483CE;
  margin: 14px;
}

h3:after {
  content: "";
  display: block;
  align-items: left;
  width: 60px;
  height: 4px;
  background: #4483CE;
  margin: 14px;
}
.bg1 a:link {
  color: hsl(0, 20%, 94%);
  padding-left: 3vh;
}

/* link que foi visitado */
.bg1 a:visited {
  color: hsl(0, 20%, 94%);
}

/* mouse over */
.bg1 a:hover {
  color: #404040;
}

/* link selecionado */
.bg1 a:active {
  color: #404040;
}
i {
  padding-left: 1vh;
}
input{
width: 25%
}

@MEDIA ONLY SCREEN AND (MIN-WIDTH: 768PX) AND (MAX-WIDTH: 959PX){
  .img1 {
overflow: hidden;
  

  }

  input{
    width: 40%;
   background-color: transparent;
   border-color: #;

  }
  .logo1 {
    margin: 0;
    padding-left: 0.2em;
    padding-top: 1px;
  }
  .curso {
    margin-right: 2vh;
    text-align: justify;
    padding-left: 5vh;
    padding-right: 5vh;
    font-family: "Vidaloka", serif;
  
  }
  .grade {
    margin-right: 2vh;
    text-align: justify;
    padding-left: 5vh;
    padding-right: 5vh;
    font-family: "Vidaloka", serif;
  }
  .ctt {
    margin-right: 2vh;
    text-align: justify;
    padding-left: 5vh;
    padding-right: 5vh;
    font-family: "Vidaloka", serif;
  }

}

@media (max-width: 700px) {
  .img1 {
    position: fixed;
  

  }
  .logo1{
    margin: 0;
    padding-left: 3px;
    padding-top: 1px;
    font-size: 1em;
  }
  .curso {
    margin-right: 2vh;
    text-align: justify;
    padding-left: 5vh;
    padding-right: 5vh;
    font-family: "Vidaloka", serif;
    font-size: 1em;
  }
  .grade {
    margin-right: 2vh;
    text-align: justify;
    padding-left: 5vh;
    padding-right: 5vh;
    font-family: "Vidaloka", serif;
    font-size: 1em;
  }
  .ctt {
    width:100%;
    margin-right: 2vh;
    text-align: justify;
    padding-left: 5vh;
    padding-right: 5vh;
    font-family: "Vidaloka", serif;
    font-size: 1em;
  }

.w3-container {
  border-radius: 20px 20px 0px 0px;
}

input{
  width: 100%;

  font-size: 1em;
}
button{
  font-size: 0.9em;
text-align: center;
margin-top: 5%;

}
}

@media (max-width: 280px) {
  .img1 {
    position: fixed;
  

  }
  .logo1{
    margin: 0;
    padding-left: 1px;
    padding-top: 1px;
    font-size: 0.9em;
  }
  .curso {
    margin-right: 2vh;
    text-align: justify;
    padding-left: 5vh;
    padding-right: 5vh;
    font-family: "Vidaloka", serif;
    font-size: 1em;
  }
  .grade {
    margin-right: 2vh;
    text-align: justify;
    padding-left: 5vh;
    padding-right: 5vh;
    font-family: "Vidaloka", serif;
    font-size: 1em;
  }
  .ctt {
    width:100%;
    margin-right: 2vh;
    text-align: justify;
    padding-left: 5vh;
    padding-right: 5vh;
    font-family: "Vidaloka", serif;
    font-size: 1em;
  }

.w3-container {
  border-radius: 20px 20px 0px 0px;
}

input{
  width: 100%;

  font-size: 1em;
}
button{
  font-size: 0.9em;
text-align: center;
margin-top: 5%;

}

}

@media (max-width: 1024px) {
  .img1{ opacity: 0;

      position: fixed;
    
  
    }
    
  .logo1{
width: 100%;
    padding-left: 1px;
    padding-top: 1px;
    font-size: 0.9em;
    text-align: center;
    margin: 0%;
  }

  .ctt{
    margin-left: 0%;
    padding-left: 5%;
  }
  }


  /*AQUI COMEÇA O CÓDIGO DA PARTE QUE A SENHORA(O) PEDIU */
  
@media (max-width: 320px) {
  .img1 {
    position: fixed;
  

  }
  .logo1{
    margin: 0;
    padding-left: 1%;
    padding-top: 1%;
    font-size: 0.9em;
  }
  .curso {
    margin-right: 2%;
    text-align: justify;
    padding-left: 5%;
    padding-right: 5%;
    font-family: "Vidaloka", serif;
    font-size: 1em;
  }
  .grade {
    margin-right: 2%;
    text-align: justify;
    padding-left: 5%;
    padding-right: 5%;
    font-family: "Vidaloka", serif;
    font-size: 1em;
  }
  .ctt {
    width:100%;
    margin-right: 2%;
    text-align: justify;
    padding-left: 5%;
    padding-right: 5%;
    font-family: "Vidaloka", serif;
    font-size: 1em;
  }

.w3-container {
  border-radius: 20px 20px 0px 0px;
}

input{
  width: 100%;

  font-size: 1em;
}
button{
  font-size: 0.9em;
text-align: center;
margin-top: 5%;

}

}


  /*AQUI termina O CÓDIGO DA PARTE QUE A SENHORA(O) PEDIU */